{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": [ "eslint:recommended" ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "indent": "off",
    "linebreak-style": [ "error", "unix" ],
    "quotes": [ "error", "double" ],
    "semi": [ "error", "always" ],
    "no-extra-semi": "off",
    "no-unused-vars": [ "error", { "argsIgnorePattern": "^_" } ]
  }
}
